<ul class="nav navbar-nav navbar-right">
                    <form class="form-inline" id="login-form">
                        <div class="form-group">
                            <label for="login-email">Email address:</label>
                            <input type="email" class="form-control" id="login-email" name="login-email">
                        </div>
                        <div class="form-group">
                            <label for="login-pwd">Password:</label>
                            <input type="password" class="form-control" id="login-pwd" name="login-pwd">
                        </div>
                        <button type="submit" class="btn btn-default login" id="login-btn">Login</button>
                    </form>
                    {{> logout-form}}
                </ul>