<ul class="nav navbar-nav navbar-right">
                <form class="form-inline">
                      <div class="form-group form-login">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control form-login field-color" id="email">
                      </div>
                      <div class="form-group form-login">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control form-login field-color" id="pwd">
                      </div>
                      <button type="submit" class="btn btn-default login form-login">Login</button>
                    </form>
              </ul>