<!-- Mentor Page Content-->

    <div class="outer">
        <div class="inner2" style="height:100vh; width: 100vw; background-color: #05B37F; position: fixed; top: 0px; overflow-y: scroll" id="third">
           
            <!-- Page Content -->
               <div class="container">
                             <div class="row margin-small">
                                    <div class="col-md-6">
                                         <h1 class="title">My Profile</h1>
                                    </div>
                            </div>

                            <div class="row margin-small">
                                    <div class="col-md-3">
                                            
                                                <div class="media-left media-middle">
                                                    <a href="#">
                                                        <img class="media-object " src="assets/links/dino.png" alt="...">
                                                    </a>
                                                </div>

                                                <div>
                                                    <ul class="list-mentor">
                                                        <li id="nameMentor"><h4>User Name</h4></li>
                                                        <li id="prefMentor"><h4>Language<h4></li>
                                                    </ul>  
                                                 </div>    
                                            </div>
                                       
                            <div class="col-md-9">
                                   <div class="mentorList">
                                        <a href="#" class="list-group-item active-mentee text">My Mentees</a>
                                         <hr>
    
                                <div class="mentor-list row">
                                    <div class="col-md-2">
                                        <div class="thumbnail">
                                    
                                            <img src="https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg" alt="...">
                                        </div>
                                        <div class="caption">
                                        <h3>Mentee Name</h3>
                                        <button onclick="chatWindow()" class="button2 button1 chat-button">Chat Now!</button>
                                        </div> 
                                    </div>
                            
                                </div>
                            </div>

                        <hr>

                    </div>
                </div>
                
            </div>
                     <!-- /.row -->
         </div>

          <!-- /.container --> 
        </div>
    </div>
</div>
 <script>
function chatWindow() {
    window.open("/chat-page", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=400,left=500,width=520,height=350");
    }
</script>
